/* MAIN BLURB CSS FOR CARDS  */

.Blfriend {
  background-color: gray;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50px;
}

#bluMain {
  display: flex;
  justify-content: center;
}

.likeComment {
  margin: 5px;
}

.blurbContainer {
  display: flex;
  height: 80px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 1px 1px 0px black;
  min-width: 350px;
  justify-content: space-between;
}

.blInfo {
  margin: 10px 0px;
}

.userName {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

#blurbColOne {
  display: flex;
  align-items: center;
}

/* THIS IS APPLIED TO AL CARDS  */

#notifyIcons {
  display: flex;
  margin: 5px;
}

#notifyPP {
  margin-bottom: 30px;
}

.comContainer {
  width: 320px;
}
