/* MAIN BLURB CSS FOR CARDS  */

.Blfriend {
  background-color: gray;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50px;
}

#bluMain {
  display: flex;
  justify-content: center;
}

.likeComment {
  margin: 5px;
}

.blurbContainer {
  display: flex;
  min-height: 80px;
  padding: 5px 5px;
  margin: 5px;
  width: 350px;
  justify-content: space-between;
  background-color: #757575;

  border-radius: 20px;
}

.blInfo {
  margin: 10px 0px;
}

.userName {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

#blurbColOne {
  display: flex;
  align-items: flex-start;
}

/* THIS IS APPLIED TO AL CARDS  */

#notifyIcons {
  display: flex;
  margin: 0px;
  width: 70px;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between;
}

#notifyPP {
  margin-bottom: 30px;
}

.comContainer {
  width: 320px;
  margin: 4px;
  background-color: #4b4b4b;
}

.css-8je8zh-MuiTouchRipple-root {
  color: #f7e258 !important;
}

[data-value="FavoriteIcon"] {
  fill: #f7e258 !important;
}

.likesCount {
  font-size: 0.5rem;
  position: absolute;
  top: -5px;
  font-weight: 600;
  color: white;
}

#profileIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* //////////////////////// Com Card ????????????????? */

#notifyIconsCom {
  margin: 10px;
}

/* //////////////////////// media query ///////////////// */

@media (min-width: 1200px) {
  .blurbContainer {
    width: 550px;
  }

  .comContainer {
    width: 520px;
  }
}
