/* MAIN BLURB CSS FOR CARDS  */

.Blfriend {
  background-color: gray;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50px;
}

#bluMain {
  display: flex;
  justify-content: center;
}

.likeComment {
  margin: 5px;
}

.blurbContainer {
  display: flex;
  height: 80px;
  padding: 10px;
  margin: 5px;
  width: 350px;
  justify-content: space-between;
  background-color: #757575;
  
  border-radius: 20px;
}

.blInfo {
  margin: 10px 0px;
}

.userName {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

#blurbColOne {
  display: flex;
  align-items: center;
}

/* THIS IS APPLIED TO AL CARDS  */

#notifyIcons {
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: end;
  margin-bottom: 50px;
}

#notifyPP {
  margin-bottom: 30px;
}

.comContainer {
  width: 320px;
  background-color: #4b4b4b;}

.css-8je8zh-MuiTouchRipple-root {
  color: #f7e258 !important;
}

[data-value="FavoriteIcon"] {
  fill: #f7e258 !important;
}
