/* MAIN BLURB CSS FOR CARDS  */

.Blfriend {
  background-color: gray;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50px;
}

#bluMain {
  display: flex;
  justify-content: center;
}

.blurbContainer {
  display: flex;
  min-height: 80px;
  padding: 10px 10px;
  margin: 5px;
  width: 350px;
  justify-content: space-between;
  background-color: #757575;
  box-shadow: 2px 2px 8px black;
  border-radius: 20px;
}

.blInfo {
  margin: 10px 0px;
}

.blInfoCom {
  margin: 10px 10px;
}
.userName {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

#blurbColOne {
  display: flex;
  align-items: flex-start;
}

/* THIS IS APPLIED TO AL CARDS  */

#notifyIcons {
  display: flex;
  margin: 0px;
  width: 70px;
  flex-direction: row;
  align-items: flex-start !important;
}

#notifyPP {
  margin-bottom: 30px;
}

.comContainer {
  width: 320px;
  margin: 4px;
  background-color: #4b4b4b;
}

.css-8je8zh-MuiTouchRipple-root {
  color: #f7e258 !important;
}

[data-value="FavoriteIcon"] {
  fill: #f7e258 !important;
}

.likesCount {
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 22px;
  right: 5px;
}

#profileIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
/* //////////////////////////// TAGS ///////////////////// */

.tags {
  display: flex;
  margin-top: 10px;
  margin-top: 2px;
  margin-right: 5px;
  font-size: 12px;
  color: rgb(59, 201, 248);
}

.tag {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 12px;
  color: rgb(59, 201, 248);
}

/* //////////////////////// Com Card ????????????????? */

#notifyIconsCom {
  margin: 4px;
}

/* //////////////////////// media query ///////////////// */

@media (min-width: 1200px) {
  .blurbContainer {
    width: 550px;
  }

  .comContainer {
    width: 520px;
  }
}
