#header {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  box-shadow: 0px 1px 1px #b6b7bd;
  background-color: #2e2e2e;
  margin-bottom: 5px;
}

#button {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}

.friends {
  background-color: gray;
  height: 40px;
  width: 40px;
  margin: 0rem 0.5rem;
  border-radius: 50px;
}

.friendProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendProfile p {
  margin: 0.3rem;
}

#searchSvg {
  z-index: 1000;
  top: 15px;
  left: 15px;
}

#searchTxt {
  color: black;
}

#searchIcon {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  /* background: rgb(248, 255, 126);
  background: radial-gradient(
    circle,
    rgba(248, 255, 126, 1) 0%,
    rgba(252, 242, 22, 1) 66%
  ); */
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out, transform 0.2s ease,
    box-shadow 0.5s ease-in; /* Add transitions */
  z-index: 1;
  /* border: rgba(252, 242, 22, 1) solid 2px; */
}

#searchIcon:hover {
  /* Slightly increase the size */
  border: 1px solid gray;
  /* background: radial-gradient(
    circle,
    rgba(248, 255, 126, 1) 66%,
    rgba(252, 242, 22, 1) 0%
  );
  border: rgba(248, 255, 126, 1); */
}

#searchIcon:active {
  transform: none;
  box-shadow: none;
  transform: scale(0.9);
  /* background: rgb(141, 126, 255);
  background: radial-gradient(
    circle,
    rgba(141, 126, 255, 1) 0%,
    rgba(22, 88, 252, 1) 81%
  ); */
}

.searchBar {
  display: none;
}

/* Show the search bar when it's visible */
.searchBar.show {
  display: block;
  /* Add other styling as needed */
}

/* Mitch go ahead and take out the Grid on this button if you need to, it works to log people out but for styling purposes this is the best i could get it   */
#logout {
  background-color: #f7e258;
  color: #212121;
  border-radius: 10px;
  height: 40px;
}
