#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 1px #b6b7bd;
  background-color: #2e2e2e;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
}

#button {
  margin-right: 5px;
}

.friends {
  background-color: gray;
  height: 40px;
  width: 40px;
  margin: 0rem 0.5rem;
  border-radius: 50px;
}

#searchCon {
  display: flex;
  align-items: center;
}

.friendProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendProfile p {
  margin: 0.3rem;
}

#searchSvg {
  z-index: 1000;
  top: 15px;
  left: 15px;
}

#messageLog {
  display: flex;
  align-items: center;
}

#searchTxt {
  color: black;
}

#searchIcon {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  /* background: rgb(248, 255, 126);
  background: radial-gradient(
    circle,
    rgba(248, 255, 126, 1) 0%,
    rgba(252, 242, 22, 1) 66%
  ); */
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out, transform 0.2s ease,
    box-shadow 0.5s ease-in; /* Add transitions */
  z-index: 1;
  /* border: rgba(252, 242, 22, 1) solid 2px; */
}

#searchIcon:hover {
  /* Slightly increase the size */
  border: 1px solid gray;
  /* background: radial-gradient(
    circle,
    rgba(248, 255, 126, 1) 66%,
    rgba(252, 242, 22, 1) 0%
  );
  border: rgba(248, 255, 126, 1); */
}

#searchIcon:active {
  transform: none;
  box-shadow: none;
  transform: scale(0.9);
  border: 2px solid #f7e258;
  /* background: rgb(141, 126, 255);
  background: radial-gradient(
    circle,
    rgba(141, 126, 255, 1) 0%,
    rgba(22, 88, 252, 1) 81%
  ); */
}

.searchBar {
  position: absolute;
  left: -200px;
  width: 200px;
  transition: left 0.5s ease; /* Add a transition for smooth animation */
}
/* Show the search bar when it's visible */
.searchBar {
  display: block;
  position: absolute !important;
  left: -200px !important; /* Initially hidden off-screen to the left */
  width: 200px !important;
  transition: left 01s ease !important; /* Smooth transition animation */
  /* Add other styling as needed */
}

.search-bar.open {
  left: 0; /* Slides in from the left when open */
}

/* Mitch go ahead and take out the Grid on this button if you need to, it works to log people out but for styling purposes this is the best i could get it   */
#logout {
  background-color: #f7e258;
  color: #212121;
  border-radius: 10px;
  height: 40px;
  margin: 0px 20px;
}

.toggleContain {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#homeToggle {
  background-color: #757575;
  /* border-radius: 10px; */
}

.active {
  background-color: #f7e258 !important;
  /* border-radius: 10px !important; */
}
