#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

#logBack {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #757575;
  padding: 1rem;
  border-radius: 20px;
  width: 250px;
}

#tabs {
  display: flex;
  justify-content: center;
}

#logCreateB {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f7e258;
  color: black;
}

#loginBlurb {
  display: flex;
  width: 100%;
  height: 180px;
  align-items: center;
  justify-content: center;
}
