#navContain {
  box-shadow: 0px -1px 1px #b6b7bd;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2e2e2e;
}

#addBlurb {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  margin-bottom: 60px;
  background: rgb(255, 245, 183);
  background: linear-gradient(
    151deg,
    rgba(255, 245, 183, 1) 0%,
    rgba(247, 226, 88, 1) 43%
  );

  border: none;
  /* box-shadow: 0px 0px 5px 1px #edfb60; */
  transition: 0.2s;
}

#addBlurb:active {
  background-color: #b9c348;
  box-shadow: none;
}

#tinyPhoto {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

/* ICONS ////////////////////////// */

.css-1j61q98-MuiSvgIcon-root,
.css-1ha5wk2-MuiSvgIcon-root {
  color: #b6b7bd !important;
}

.css-1j61q98-MuiSvgIcon-root:active,
.css-1ha5wk2-MuiSvgIcon-root:active {
  color: #f7e258 !important;
}
