
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

#btn {
 margin: 10px;
}

#info {
  margin: 0;
}
/* PROFILE PHOTO  */

#profilePic {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  /* transform: scale(10%); */
  
}