#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: azure !important;
}

#btn {
  margin: 10px;
  border-radius: 10px;
}

#info {
  margin: 0;
}

#back {
  color: #f7e258;
}
/* PROFILE PHOTO  */

#profilePic {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  /* transform: scale(10%); */
}

/* EDIT PROFILE */
#editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#editAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* USERPROFILE */
#userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.confirmationModal {
  background-color: #bebfc5;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  /* border: black 1px solid; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmationBtn {
  color: #212121;
}

#requirements {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 4px;
  color: #BEBFC5 ;
}

/* FOLLOWERS/FOLLOWING PAGES */

#followerContain {
  display: flex;
  align-items: center;
  justify-content: center;
}

#followingContain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.followCard {
min-height: 20px;
width: 350px;
padding: 2px 2px;
margin: 5px;
box-shadow: 3px 3px 8px black !important;
background-color: #757575 !important;
display: flex;
justify-content: space-between;
border-radius: 10px !important;
} 



.followUserInfo {
display: flex;
flex-direction: column;
color: #f3f3f3;
}

.imgContain {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-top: 30px;
}
#followImg {
  border-radius: 100%;
  height: 90px;
  width: 90px;
}
