
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

#btn {
 margin: 10px;
 border-radius: 10px;
}

#info {
  margin: 0;
}
/* PROFILE PHOTO  */

#profilePic {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  /* transform: scale(10%); */
  
}


/* EDIT PROFILE */
#editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

#editAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


/* USERPROFILE */
#userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}


.confirmationModal {
  background-color: #BEBFC5;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  /* border: black 1px solid; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.confirmationBtn {
  color: #212121;
}

.uploadButton {
  
}