
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

#btn {
 margin: 10px;
}

#info {
  margin: 0;
}
/* PROFILE PHOTO  */

#profilePic {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  /* transform: scale(10%); */
  
}


/* EDIT PROFILE */
#editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

#editAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}